<div class="row main-row">
  <div class="col-11">
    <div class="row">
      <div class="col-lg-7 col-md-8  col-xs-12 main-content">
        <p class="heading">Cart</p>
        <hr>
        <mat-card class="card-section" *ngFor="let product of products; let i = index">
          <div class="row">
            <div class="col left">
              <img src="https://source.unsplash.com/1600x900/?product" alt="image" class="image">
            </div>
            <div class="col right">
              <p class="head">{{product.name | titlecase}}</p>
              <p class="text">Stock left: {{product.stock}}</p>
              <p class="text">Price: {{product.price}}</p>
              <p class="text">Quantity: <input type="number" (change)="updateCart(cartID[i], quantity.value, product.stock)" [(ngModel)]="cartQuantity[i]" class="input" #quantity required>
                  Pay: {{product.price * cartQuantity[i] }}</p>
            </div>
          </div>

          <ion-icon class="close-icon" name="close-outline" (click)="removeFromCart(cartID[i])"></ion-icon>
        </mat-card>
      </div>
      <div class="col-lg-4 col-md-4  col-xs-12 orders">
        <app-billing [billingData]="billingdata"></app-billing>
      </div>
    </div>
    <div>
  </div>
</div>
