<div class="row">
  <div class="col-7 main-content">
    <p class="heading">Shopping Cart</p>
    <hr>
    <mat-card class="card-section" *ngFor="let product of products; let i = index">
      <div class="left">
        <img src="https://source.unsplash.com/1600x900/?product" alt="image" class="image">
      </div>
      <div class="right">
        <p class="head">{{product.name | titlecase}}</p>
        <p class="text">Stock left: {{product.stock}}</p>
        <p class="text">Price: {{product.price}}</p>
        <p class="text">Quantity: <input type="number" (change)="updateCart(cartID[i], quantity.value, product.stock)" [(ngModel)]="cartQuantity[i]" class="input" #quantity required>
            Pay: {{product.price * cartQuantity[i] }}</p>
      </div>
      <ion-icon class="close-icon" name="close-outline" (click)="removeFromCart(cartID[i])"></ion-icon>
    </mat-card>
  </div>
  <div class="col-4 orders">
    <app-billing [billingData]="billingdata"></app-billing>
  </div>
</div>
<div>
