@import '../../../../styles.scss';

.main-row{
  display: flex;
  justify-content: center;
  align-items: center;
  .card{
    margin-top: 2rem;
    .title-head{
      font-size: 1.4rem;
      font-weight: 500;
    }
    .block{
      display: flex;
      border: 1px solid #f0f0f0;
      margin-bottom: 1rem;
      position: relative;
      .sub-row{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .img-block{
          padding: 1rem;
          margin-left: 1rem;
          width: 110px;
          .image{
            width: 90px;
            height: 90px;
          }
        }
        .text-block{
          margin-top: 1rem;
          .head{
            font-size: 1.4rem;
            font-size: 600;
          }
          .text{
            font-size: 1.2rem;
            font-weight: 500;
          }
          .amt{
            font-size: 1.2rem;
            font-weight: 600;
          }
          .input{
            width: 4rem;
            height: 2rem;
            border: 1px solid rgb(219, 216, 216);
          }
        }

      }
      .close-icon{
        color: black;
        font-size: 1.8rem;
        position: absolute;
        top: 8px;
        right: 5px;
        cursor: pointer;
      }
    }
  }
}

.header-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
