@import '../../styles.scss';

.active {
  font-weight: bold;
}

.nav-effect{
  box-shadow: 1px 1px 5px 0px black;
  background-color:$secondary-color;
  color: $primary-color;
  padding-left: 1rem;
  font-size: 1.3rem;
  width: 100%;

  &__search-icon{
    font-size: 1.7rem;
    border-radius: 50%;
    float: left;
    padding-left: .2rem;
    color: black;
  }

  &__search-box{
    margin-right: -2.1rem;
    padding-right: 2rem;
    border-radius: .4rem;
    border-color: rgb(207, 204, 204);
  }

  &__user-icon{
    height: 2.5rem;
    width: 2.5rem;
    background-color: $secondary-color;
    color:$primary-color;
    margin-left: 2rem;
    &:hover{
      background-color: $primary-color;
      color:$secondary-color;
      border-radius: 50%;
    }
}
}



//-------------------------------------------------------------------------

