@import '../../styles.scss';


.footer{
  color: $secondary-color;
  background-color: $primary-color;
  font-size: 1rem;
  opacity: .7;

  .logo{
    color: white;
    text-align: center;

    &__design{
      font-size: 2rem;
    }
    &__content{
      font-size: 2rem;
    }
  }
  &__content{
    bottom: 0%;
  }
}
