<div class="row">
  <mat-horizontal-stepper [linear]="isLinear" [selectedIndex]="currentStep" #stepper class="hide-under-900px" *ngIf="cancelled < 1">
    <ng-container *ngFor="let step of steps; index as i">
        <ng-template matStepperIcon="home">
            <mat-icon>home</mat-icon>
        </ng-template>
        <mat-step #matStep [editable]="isEditable" [completed]="matStep.interacted || i < currentStep" class="step">
            <ng-template matStepLabel>{{step}}
              <P *ngIf="i == 0 && orderStatus.length > 0"> {{orderStatus[0].time.seconds *1000 | date}}</P>
              <P *ngIf="i == 1 && shippedStatus.length > 0"> {{shippedStatus[0].time.seconds *1000 | date}}</P>
              <P *ngIf="i == 2 && nearbyStatus.length > 0"> {{nearbyStatus[0].time.seconds *1000 | date}}</P>
              <P *ngIf="i == 3 && deliveredStatus.length > 0"> {{deliveredStatus[0].time.seconds *1000 | date}}</P>
            </ng-template>
        </mat-step>
    </ng-container>
  </mat-horizontal-stepper>

  <mat-vertical-stepper [linear]="isLinear" [selectedIndex]="currentStep" #stepper class="show-under-900px" *ngIf="cancelled < 1">
    <ng-container *ngFor="let step of steps; index as i">
        <ng-template matStepperIcon="home">
            <mat-icon>home</mat-icon>
        </ng-template>
        <mat-step #matStep [editable]="isEditable" [completed]="matStep.interacted || i < currentStep" class="step">
          <ng-template matStepLabel>{{step}}
            <P *ngIf="i == 0 && orderStatus.length > 0"> {{orderStatus[0].time.seconds *1000 | date}}</P>
            <P *ngIf="i == 1 && shippedStatus.length > 0"> {{shippedStatus[0].time.seconds *1000 | date}}</P>
            <P *ngIf="i == 2 && nearbyStatus.length > 0"> {{nearbyStatus[0].time.seconds *1000 | date}}</P>
            <P *ngIf="i == 3 && deliveredStatus.length > 0"> {{deliveredStatus[0].time.seconds *1000 | date}}</P>
          </ng-template>
        </mat-step>
    </ng-container>
  </mat-vertical-stepper>
</div>
