.title-card{
  margin-top: 1rem;
  .title-sec{
    padding: .3rem 0 .3rem 1rem;
    .title{
      font-size: 22px;
      font-weight: 500;
    }
  }
}

.left-card{
  height : 100%;
  margin-top: .9rem;
  .title-sec{
    padding: .5rem 0 .5rem 1rem;
    border-bottom: 2px solid #cac7c7;
    .title{
      font-weight: 500;
      font-size: 18px;
    }
  }
  .content-sec{
    padding: .5rem 0 .5rem 1rem;
    border: solid #e0e0e0;
    border-width: 0 0 1px;
    margin-top: 1rem;
    .content-head{
      font-size: 17px;
      font-weight: 500;
      margin-bottom: 10px;
      margin-bottom: 10px;
    }
    .content{
      margin-top: 10px;
      font-size: 14px;
      font-weight: 400;

    }
    &:last-child{
      border: solid #e0e0e0;
      border-width: 0 0 0 0;
    }
  }
}

.right-card{
  margin-top: .9rem;
  margin-left: -1rem;
  height: 100%;
  .star-container{
    padding: .5rem;
    border: solid #e0e0e0;
    border-width: 0 0 1px 0;
    .title-sec{
      color: black;
      .title{
        font-weight: 500;
        font-size: 18px;
      }
      .star-sec{
        margin-bottom: 1rem;
      }
    }
  }
  .review-sec{
    margin: 1rem 1rem 1rem .5rem;
    .title-sec{
      color: black;
      .title{
        font-weight: 500;
        font-size: 18px;
      }
    }
    .d-box{
      margin-top: 1rem;
      font-size: 1.2rem;
      opacity: .8;
      .description{
        border: black;
        textarea{
          resize: none;
        }
      }
    }
    .button-area{
      margin-top: 2rem;
      float: right;
      .button-submit{
        margin-right: 1rem;
        // width: 10rem;
        // height: 4rem;
      }
    }
  }
}

.error{
  color: red;
}
textarea:active,textarea:hover,textarea:focus{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}
.input-box{
  height: 50px;
}
