<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-card class="title-card">
        <div class="title-sec">
          <span class="title">Ratings & Reviews</span>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <mat-card class="left-card">
        <div class="title-sec">
          <span class="title">What makes a good review</span>
        </div>
        <div class="content-sec">
          <span class="content-head">Have you used this product?</span>
          <p class="content">Your review should be about your experience with the product.</p>
        </div>
        <div class="content-sec">
          <span class="content-head">Why review a product?</span>
          <p class="content">Your valuable feedback will help fellow shoppers decide!</p>
        </div>
        <div class="content-sec">
          <span class="content-head">How to review a product?</span>
          <p class="content">Your review should include facts. An honest opinion is always appreciated. If you have an issue with the product or service please contact us from the help centre.</p>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
      <mat-card class="right-card">
        <div class="star-container">
          <div class="title-sec">
            <span class="title">Rate this product</span>
          </div>
          <div class="star-sec">
            <app-rating-stars (callParentFunctionStar)="starCounter($event)" [starCount]="starValue"></app-rating-stars>
          </div>
        </div>
        <div class="review-sec">
          <form #reviewForm="ngForm" (ngSubmit)="onSubmit(reviewForm.value)">
          <div class="title-sec">
            <span class="title">Review this product</span>
          </div>
          <div class="d-box">
            <div class="form-group description">
              <label for="description">Leave a comment</label>
              <textarea [(ngModel)]="description1" name="description" id="description" #description="ngModel"  class="form-control" rows="6" required></textarea>
              <span class="error" *ngIf="!description.valid && description.touched">This feild is required</span>
            </div>
            <div class="form-group description">
              <label for="title">Title</label>
              <textarea [(ngModel)]="title1" name="title" id="title" #title="ngModel" class="form-control" rows="1" required></textarea>
              <span class="error" *ngIf="!title.valid && title.touched">This feild is required</span>
            </div>
            <div class="form-group description">
              <label for="Name">Name</label>
              <textarea [(ngModel)]="displayName1" name="displayName" id="displayName" #displayName="ngModel" class="form-control" rows="1" required></textarea>
              <span class="error" *ngIf="!displayName.valid && displayName.touched">This feild is required</span>
            </div>
          </div>
          <div class="button-area">
            <button mat-raised-button class="button-submit" type="submit">Submit</button>
            <button mat-raised-button class="button-cancel" type="button" (click)="onCancel()">Cancel</button>
          </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>
