<p>product-add works!</p>
<!-- <form #addProductForm="ngForm">
  <input type="text" ngModel name="name">
  <input type="text" ngModel name="email">
  <button type="button" (click)="getValue(addProductForm.value)">Submit</button>
</form> -->

<form class="example-form" #addProductForm="ngForm" >
  <mat-form-field class="example-full-width">
    <mat-label>Product Name </mat-label>
    <input matInput ngModel name="name" placeholder="Ex. Pizza" value="">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select  ngModel name="category">
      <mat-option *ngFor="let cat of category | async" [value]="cat.name">  {{cat.name}}  </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Price </mat-label>
    <input matInput ngModel name="price" placeholder="" value="">
  </mat-form-field>
  <input type="file" ngModel name="image">

  <button mat-raised-button mat-dialog-close (click)="getValue(addProductForm.value)">Add</button>
</form>
