
  <div class="img-section">
    <img class="img" src="https://source.unsplash.com/1600x900/?product" alt="">
  </div>
  <div class="profile">
    <!-- <P class="text" *ngIf="name">{{name}}</P>
    <p class="text" *ngIf="!name">Name</p> -->
    <mat-form-field class="half-width">
      <div class="edit-section">
        <input  class="text"  matInput [(ngModel)]="name" [readonly]="editName" #displayName (change)="onUpdateName(displayName.value)">
        <ion-icon class="edit-icon" name="pencil-outline"(click)="oneditName()"></ion-icon>
      </div>
    </mat-form-field>
    <p class="text-sub">{{email}}</p>

    <mat-accordion class="example-headers-align">
      <mat-expansion-panel>
        <mat-expansion-panel-header class="expand-header"></mat-expansion-panel-header>
        <div class="expand">
          <div class="vertical" routerLink="products/cart">
            <span class="material-icons">shopping_cart</span>
            <a class="text" >My Cart</a>
          </div>
          <div class="vertical" routerLink="products/myorders">
            <span class="material-icons">assessment</span>
            <a >My orders</a>
          </div>
          <div class="vertical" routerLink="products/favourite">
            <span class="material-icons">favorite_border</span>
            <a >My favourites</a>
          </div>
          <div class="vertical" routerLink="auth/profile">
            <span class="material-icons">person</span>
            <a >Profile info</a>
          </div>
          <div class="vertical" routerLink="auth/manage_address">
            <span class="material-icons">mail</span>
            <a >Manage Address</a>
          </div>
          <div class="signout-sec">
            <span class="material-icons lock-icon">lock</span>
            <span class="text"(click)="onLogout()">Sign Out</span>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

