.card{
  padding-bottom: 2rem;
}

.img-section{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  .img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
  }
}
.profile{
  text-align: center;
  line-height: .7rem;

  .edit-section{
    display: flex;

    .edit-icon{
      font-size: 1.4rem;
      margin-left: 1rem;
    }
  }
  .text{
    font-size: 1.3rem;
    text-align: center;

    &-sub{
      font-size: 1rem;
    }
  }
  .link-section{
    text-align: left;
    line-height: 2rem;
    font-size: 1.1rem;
    text-decoration: none;
    list-style: none;
    padding-left: 0%;

    .links{
      display: flex;
      align-items: center;
      margin-top: 1.1rem;

      &:hover{
        background-color: #ece8e8;
      }

      .material-icons{
        font-size: 1.5rem;
        margin-right: 1rem;

      }
    }
  }
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  display: flex;
}

.half-width {
  width: 70%;
}


a{
  text-decoration: none;
  color: black;
}

.signout-sec{
  display: flex;
  align-items: center;
  float: right;


  .lock-icon{
    font-size: 1.4rem;
    margin-right: .5rem;
  }
  .text{
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }

}

