<div class="card-container">
  <div class="row">
    <mat-card class="card">
      <mat-card-content>Sign IN</mat-card-content>
    <form class="login-form" #loginForm="ngForm" (submit)="signin(loginForm.value)">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input #email="ngModel" [(ngModel)]="email1" name="emailid" id="emailid" matInput placeholder="Enter your email" type="email" required>
        <span class="error" *ngIf="!email.valid && email.touched"> Enter a valid email id!</span>
      </mat-form-field>
      <mat-form-field class="example-full-width" >
        <mat-label>Enter your password</mat-label>
        <input matInput #password="ngModel" [(ngModel)]="password1" name="pass" id="pass" [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <span class="error" *ngIf="!password.valid && password.touched"> Enter a valid password!</span>
      </mat-form-field>
      <div class="bottom">
        <div class="left">
          <button mat-raised-button class="primary-button" type="submit" *ngIf="loginForm.valid">Signin</button>
        </div>
        <div class="right">
          Are you new? <a routerLink="/auth/signup"> Register Now </a>
        </div>
      </div>
      <button type="button" mat-raised-button (click)="createUserViaGoogle()" class="google-button">Google +</button>
      <!-- <button type="button" mat-raised-button (click)="createUserViaFacebook()" class="fb-button">Facebook</button> -->
    </form>
  </mat-card>
  </div>
</div>








