  <div class="box">
    <p class="head-text">EDIT ADDRESS</p>
    <form class="form-style" #addAddress="ngForm" (ngSubmit)="onAddressSave(addAddress.value)">

      <div class="form-group">
        <label>House Name/Apartment </label>
        <input type="text" class="form-control"  name="address" [(ngModel)]="houseVal" #address required minlength="3">
        <div *ngIf="address.invalid && (address.dirty || address.touched)"  class="errormessage">
          <div *ngIf="address.errors.required">
            Address is required.
          </div>
          <div *ngIf="address.errors.minlength">
            Address must be at least 3 characters long.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Zipcode </label>
            <input type="number"  name="pincode" class="form-control" [(ngModel)]="pincodeVal" #pincode required minlength="6" type="number">
            <div *ngIf="pincode.invalid && (pincode.dirty || pincode.touched)"  class="errormessage">
              <div *ngIf="pincode.errors.required">
                Zipcode is required.
              </div>
              <div *ngIf="pincode.errors.minlength">
                Zipcode must be at least 6 characters long.
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Postoffice </label>
            <input type="text"  name="postoffice" class="form-control" [(ngModel)]="postofficeVal" #postoffice required >
            <div *ngIf="postoffice.invalid && (postoffice.dirty || postoffice.touched)"  class="errormessage">
              <div *ngIf="postoffice.errors.required">
                Postoffice is required.
              </div>
              <div *ngIf="postoffice.errors.minlength">
                Postoffice must be at least 6 characters long.
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>District </label>
            <input type="text" class="form-control"  name="district" [(ngModel)]="districtVal" #district required >
            <div *ngIf="district.invalid && (district.dirty || district.touched)"  class="errormessage">
              <div *ngIf="district.errors.required">
                District is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>State </label>
            <input type="text"  name="state" class="form-control" [(ngModel)]="stateVal" #state required >
            <div *ngIf="state.invalid && (state.dirty || state.touched)"  class="errormessage">
              <div *ngIf="state.errors.required">
                State is required.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Country </label>
            <input type="text" class="form-control" name="country"  [(ngModel)]="countryVal" #country required >
            <div *ngIf="country.invalid && (country.dirty || country.touched)"  class="errormessage">
              <div *ngIf="country.errors.required">
                Country is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>LandMark </label>
            <input type="text" class="form-control" value="st. Joseph Church">
          </div>
        </div>
      </div>
      <div class="button-sec">
        <button class="primary-button btn-lg" mat-raised-button  type="submit">Add</button>
        <button class="secondary-button btn-lg" mat-raised-button (click)="onCancel()">Cancel</button>
      </div>
      <!-- [disabled]="addAddress.invalid" -->
    </form>
  </div>

