<mat-card class="card" (click)=" showProduct(product, product.productId)">
  <img class="image" [src]="product.image" alt="Photo">
  <ion-icon name="heart" class="heart-icon fav-color-active" *ngIf="favProductsID.includes(product.productId)"  (click)=" removeFromFavourite($event, product)" ></ion-icon>
  <ion-icon name="heart" class="heart-icon fav-color-inactive" *ngIf="!favProductsID.includes(product.productId)"  (click)=" addToFavourite($event, product)" ></ion-icon>

 <mat-card-content>
      <p class="card__title">{{ product.name | titlecase }}</p>
  </mat-card-content>
  <mat-card-content >

    <mat-chip-list class="chips"  aria-label="category list">
      <mat-chip class="chips__content" [ngStyle]="{ 'background-color': product.categoryColor }" >{{ product.categoryName }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-content class="grid-view">
    <h6 class="grid-view__text"> {{product.price | currency :'USD'}} </h6>
    <h6 *ngIf="product.stock < 1" class="out-of-stock grid-view__text">OUT OF STOCK</h6>
  </mat-card-content>
  <div class="add-button-bg" *ngIf="product.stock > 0">
    <a> <ion-icon name="add-circle" class="add-button" (click)="addToCart(product.productId, 0)"></ion-icon> </a>
  </div>
</mat-card>
