
.row{
  display: flex;
  justify-content: center;
  .card{
    margin-top: 1rem;
    .vertical{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .vertical{
        display: flex;
        align-items: center;
        .icon{
          margin-right: .3rem;
          cursor: pointer;
        }
        .head{
          font-size: 20px;
          font-weight: 500;
        }
        .positive{
          height: 2rem;
          border: none;
          outline: none;
          background-color: orangered;
          margin-right: 1rem;
          border-radius: 3px;
          padding: .2rem .5rem 0 .5rem;
          cursor: pointer;
          padding-top: 2px;
          display: flex;
          align-items: center;
          .icon{
            font-size: 1.5rem;
            padding-top: 1px;
            color: white;
          }
          .text{
            padding-top: 8px;
            font-size: 1.2rem;
            color: white;
          }
        }
        .negative{
          height: 2rem;
          border: none;
          outline: none;
          background-color: forestgreen;
          border-radius: 3px;
          padding: .2rem .5rem 0 .5rem;
          cursor: pointer;
          padding-top: 2px;
          display: flex;
          align-items: center;
          .icon{
            font-size: 1.5rem;
            padding-top: 1px;
            color: white;
          }
          .text{
            padding-top: 8px;
            font-size: 1.2rem;
            color: white;
          }
        }
      }
    }

    .bottom-sec{
      min-width: 80%;
      .head-section{
        display: flex;
        min-width: 15rem;
        .user-name{
          font-size: 1.2rem;
        }
        .rating-section{
          color: gold;
          margin-left: 1rem;
          font-size: 1.2rem;
        }
      }
      .user-review{
        font-size: 1.2rem;
        width: 100%;
        word-wrap: break-word;
      }
    }
  }
}
