
.text-ordered{
  color: green;
  font-size: 1.2rem;
}
.text-shipped{
  color : orangered;
  font-size: 1.2rem;
 // margin-left: 17%;
}
.text-near{
  color: orange;
 // margin-left: 17%;
  font-size: 1.2rem;
}
.text-delivered{
  color: green;
  // margin-left: 17%;
  font-size: 1.2rem;
}

.mini-text{
  font-size: .9rem;
  color: black;
  opacity: .8;
  margin-top: 1.2rem;
}
.rating-sec{
  text-transform: uppercase;
  cursor: pointer;
  line-height: 24px;
  width: auto;
  vertical-align: top;
  color: #2874f0;
  word-break: break-all;
  display: flex;
  align-items: center;
  .text{
    padding-left: .5rem;
    font-size: 14px;
    font-weight: 500;
  }
}
