
<div class="main-content">
  <div class="text-section">
    <div class="content text-ordered" *ngIf="ordered > 0 && shipped < 1 && cancelled < 1">
      <p>Order Placed</p>
      <p class="mini-text">Your Order has been placed</p>
    </div>
    <div class="content text-shipped" *ngIf="shipped > 0 && nearby < 1 && cancelled < 1">
      <p>Shipped</p>
      <p class="mini-text">Ordered item is shipped</p>
    </div>
    <div class="content text-near" *ngIf="nearby > 0 && delivered < 1 && cancelled < 1">
      <p>Near by</p>
      <p class="mini-text">Your is near, be ready to accept your order</p>
    </div>
    <div class="content text-delivered" *ngIf="delivered > 0 && cancelled < 1">
      <p>Delivered</p>
      <p class="mini-text">Your order has been delivered</p>
    </div>
    <div class="content text-cancelled" *ngIf="cancelled > 0">
      <p>Cancelled</p>
      <p class="mini-text">Your order has been Cancelled</p>
    </div>

    <div class="rating-sec" *ngIf="delivered > 0" (click)="doRating()">
      <mat-icon>star</mat-icon>
      <span class="text">Rating and review </span>
    </div>
  </div>

  <!-- <mat-progress-bar mode="determinate" [value]="percentage"></mat-progress-bar> -->
</div>

