.main-row{
  height: 3rem;
  background-color: white;
  border: 1px solid rgb(192, 191, 191);
  box-shadow: 1px 1px 5px 0px black;
  .vertical{
  display: flex;
  align-items: center;
  justify-content: space-between;
    .btn{
      background-color: transparent;
      outline: none;
      border: none;
      font-size: 1.1rem;
      cursor: pointer;
      &:last-child{
        margin-right: 10rem;
      }
    }

    @media screen and (max-width: 750px) {
      .btn:last-child{
        margin-right: 0;
      }
    }
    .text-all{
      margin-left: 10rem;
    }
    @media screen and (max-width: 750px) {
      .text-all {
        margin-left: 2rem;
      }
    }
  }
}
