.main-row{
  height: 3rem;
  background-color: white;
  border: 1px solid rgb(192, 191, 191);
  // box-shadow: 1px 1px 2px 0px black;
  .vertical{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7px;
    .text{
      background-color: transparent;
      font-size: 1.1rem;
      cursor: pointer;
      &:last-child{
        margin-right: 10rem;
      }
    }

    @media screen and (max-width: 750px) {
      .text:last-child{
        margin-right: 0;
      }
    }
    .text-all{
      margin-left: 10rem;
    }
    @media screen and (max-width: 750px) {
      .text-all {
        margin-left: 2rem;
      }
    }
  }
}


.highlight{
  color: #2874f0;
  border-bottom: solid 1px rgb(83, 83, 83);
}
