@import '../../../../styles.scss';

table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.button-effect{
  @extend .button-effect;
}

.edit-icon{
  height: 1.5rem;
  width: 1.5rem;
  float: right;
}
