<mat-sidenav-container class="sidenav-container" >
    <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === true">
      <!-- //change to false to show sidebar in full view -->
    <!-- <mat-toolbar><app-manage-user></app-manage-user></mat-toolbar> -->
    <mat-nav-list>
      <app-manage-user></app-manage-user>
      <a routerLinkActive="active" class="nav-link" mat-list-item  routerLink="/products/list"> 	<mat-icon class="icon-side">label</mat-icon> Products</a>
      <a routerLinkActive="active" class="nav-link" mat-list-item  routerLink="/category/list"> 	<mat-icon class="icon-side">label</mat-icon>Category</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="section" >
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="section__left">
        <span routerLink="products/list">	<mat-icon> local_dining</mat-icon>ShopCart</span>
        <div class="search-sec">
          <input class="search-box" type="text" placeholder="search product" (keyup.enter)="onSearch(item.value)" #item>
          <mat-icon class="search-icon">search</mat-icon>
        </div>
      </div>
      <div class="section__right">
        <!-- <form class="form-inline my-2 my-lg-0" >
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" class="nav__search-box">
          <ion-icon name="search" class="nav__search-icon"></ion-icon>
        </form> -->


        <app-myaccount></app-myaccount>

        <div class="vertical" routerLink="products/cart">
          <span class="material-icons">shopping_cart</span>
          <a class="text" >My Cart</a>
        </div>

        <!-- <ion-icon (click)="onManageUser()" name="person-circle" class="nav__user-icon" ></ion-icon> -->

      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content *ngIf="!isProductList"></ng-content>
    <app-product-list *ngIf="isProductList" [filteredProductList]="filteredProductList"></app-product-list>
    <!-- <app-manage-user [ngClass]="{ 'show-manage-user': showManageUser, 'hide-manage-user' : !showManageUser}"></app-manage-user> -->
  </mat-sidenav-content>
</mat-sidenav-container>
