<mat-sidenav-container class="sidenav-container" >
    <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === true">
      <!-- //change to false to show sidebar in full view -->
    <!-- <mat-toolbar><app-manage-user></app-manage-user></mat-toolbar> -->
    <mat-nav-list>
      <app-manage-user></app-manage-user>
      <a routerLinkActive="active" class="nav-link" mat-list-item  routerLink="/products/list"> 	<mat-icon class="icon-side">label</mat-icon> Products</a>
      <a routerLinkActive="active" class="nav-link" mat-list-item  routerLink="/category/list"> 	<mat-icon class="icon-side">label</mat-icon>Category</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="section" >
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="section__left">
        <span routerLink="products/list" class="title">
            <!-- <mat-icon> local_dining</mat-icon> -->
            ShopCart
        </span>
        <div class="search-sec">
          <input class="search-box" type="text" [(ngModel)]="searchValue" placeholder="search product" (keyup)="onSearch(searchValue)" #item>
          <mat-icon *ngIf="!showClearTextButton" class="search-icon" (click)="onSearch(searchValue)">search</mat-icon>
          <mat-icon *ngIf="showClearTextButton" class="clear-icon" (click)="onSearch('')">clear</mat-icon>
        </div>
      </div>
      <div class="section__right">
        <app-myaccount [cartItemCount]="cartItemCount" [userId]="userId"></app-myaccount>
        <div class="vertical" routerLink="products/cart">
          <span class="material-icons" >shopping_cart</span>
          <a class="text" *ngIf="cartItemCount > 0" [matBadge]="cartItemCount" matBadgeColor="accent" matBadgeOverlap="false">My Cart</a>
          <a class="text" *ngIf="cartItemCount === 0">My Cart</a>
        </div>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
