@import '../../styles.scss';

.sidenav-container {
  height: 100%;
  background-color: white;
}
.mat-sidenav-content
{
  position : relative;
}

.sidenav {
  width: 200px;
  top: 15rem;
  position: absolute;

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 1px 1px 5px 0px black;
  color: black;
  width: 100%;
}

.nav-link{
  text-decoration: none;
  list-style: none;
}

.search-sec{
  margin-left: 3rem;
  display: flex;
  align-items: center;

  .search-icon{
    font-size: 2rem;
    border-radius: 50%;
    padding-left: .2rem;
    color: black;
  }

  .search-box{
    margin-right: -2.9rem;
    padding-right: 2rem;
    border-radius: 2px;
    padding-left: .5rem;
    width: 50rem;
    font-size: 1.2rem;
    border: 1px solid #dbdbdb;

  }
  @media screen and (max-width: 980px) {
    .search-box{
      width: 40rem;
    }
  }
  @media screen and (max-width: 920px) {
    .search-box{
      width: 30rem;
    }
  }
  @media screen and (max-width: 770px) {
    .search-box{
      width: 20rem;
    }
  }
  @media screen and (max-width: 390px) {
    .search-box{
      width: 12rem;
    }
  }
}
@media screen and (max-width: 770px) {
  .search-sec{
    margin-left: 1rem;
  }
}

.section{
  display: flex;
  justify-content: space-between;

  &__left{
    display: flex;
    align-items: center;
  }
  &__right{
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 960px) {
    .section__right{
      visibility: hidden;
    }
  }
}

.main-content{
  display: flex;
}

.icon-side{
  font-size: 2rem;
  margin-right: 1rem;

  &__main{
    font-size: 2.3rem;
    margin-right: 1.3rem;
  }
}
////////////////////////////////////////
.show-manage-user{
  min-width: 250px;
  min-height: 500px;
  position: fixed;
  top: 6rem;
  right: 1rem;
  z-index: 1000;
}
.hide-manage-user{
  display: none;
  width: 0%;
  height: 0%;
}

.vertical{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 1rem;

  .material-icons{
    font-size: 1.2rem;
    margin-right: .3rem;
    float: left;
  }
  .text{
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
  }
}

