<h6>Add a new Category for products here...</h6>
<hr>
<div class="row">
  <div class="col-xs-12">
    <form class="example-form" #addCategoryForm="ngForm" (ngSubmit)="onCategorySave(addCategoryForm)">
      <mat-form-field class="example-full-width">
        <mat-label>Product Name </mat-label>
        <input matInput  name="name" ngModel #name="ngModel" required minlength="3">
        <!--<span class="errormessage" *ngIf="name.invalid && name.touched  ">Name is required and must contain atleast 3 character</span> -->
        <div *ngIf="name.invalid && (name.dirty || name.touched)"  class="errormessage">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 3 characters long.
          </div>
        </div>
      </mat-form-field>
      <button mat-raised-button [disabled]="addCategoryForm.invalid" [mat-dialog-close]="true" type="submit">Add</button>
    </form>
  </div>
</div>
