
@import '../../../../styles.scss';



.content{
  display: flex;
  justify-content: center;
}


.card-block{
  margin: 1.15rem 1rem;
  line-height: .6rem;



}

.primary-button{
  @extend .primary-button;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
  float: right;

  &:hover{
    background-color:rgb(196, 191, 191);
    color: black;
  }
}




