@import '../../../../styles.scss';

.add-button{
  @extend .add-button;
}
.add-button:hover{
 height: 2.2rem;
 width: 2.2rem;
}
.card-effect {
  max-width: 13rem;
  border-radius: 1rem;
  box-shadow: 3px 1px 5px 0px grey;
}

.title-main{
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
}
.title-sub{
  text-align: center;
}

.card-spacing{
  margin: 1rem;
  line-height: .5rem;
}

.button-effect{
  @extend .button-effect;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
  float: right;
}
.button-effect:hover{
  background-color: grey;
  cursor:pointer;
}

.out-of-stock{
  color: red;
  font-weight: 400;
  font-size: .9rem;
}
.grid-view{
  display: grid;
  grid-template-columns: auto auto ;
  margin: 0%;
}

.container{
  max-width:80%;
}
