<div class="row">
  <div class="col">
    <mat-card class="main-container">
      <div class="heading">
        <p class="head-text">ORDER SUMMERY</p>
        <hr>
      </div>
      <p class="text">No. of items in card : {{totalitems}}</p>
      <div class="" *ngFor="let product of products; let i = index">
        <p class="text-sec" >{{product.name}} : {{product.price}} * {{quantity[i]}} = {{product.price * quantity[i]}}</p>
      </div>

      <div class="">
        <p class="text-sec">Cart Total: {{toPay}}</p>
      </div>

      <div class="center">
        <button mat-raised-button class="primary-button" (click)="onCheckOut()">Check Out
          <mat-icon class="cash-icon">payment</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->

