<!-- <div class="row">
  <div class="col">
    <mat-card class="main-container">
      <div class="heading">
        <p class="head-text">ORDER SUMMERY</p>
        <hr>
      </div>
      <p class="text">No. of items in card : {{totalitems}}</p>
      <div class="" *ngFor="let product of products; let i = index">
        <p class="text-sec" >{{product.name}} : {{product.price}} * {{quantity[i]}} = {{product.price * quantity[i]}}</p>
      </div>

      <div class="">
        <p class="text-sec">Cart Total: {{toPay}}</p>
      </div>

      <div class="center">
        <button mat-raised-button class="primary-button" (click)="onCheckOut()">Check Out
          <mat-icon class="cash-icon">payment</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div> -->
<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->

<div class="address-block">
  <p class="title">ORDER SUMMERY</p>
  <div class="content">
    <p class="text"> {{totalitems}} Products</p>
    <div *ngFor="let product of products; let i = index">
      <div class="text-sec">
        <p class="text" >{{product.name}} </p>
        <span class="amt-text">{{product.price * quantity[i] |currency}}</span>
      </div>
    </div>
    <div class="text-sec">
      <p class="text" >Shipping</p>
      <span class="amt-text ship">Free</span>
    </div>
    <hr>
    <div class="text-sec">
      <p class="text" >Total</p>
      <span class="amt-text">{{toPay |currency}}</span>
    </div>
  </div>
</div>
<button mat-raised-button class="button" (click)="onCheckOut()">
  <mat-icon class="cash-icon">payment</mat-icon>
  PLACE ORDER
</button>
