.centered{
  display: flex;
  justify-content: center;
}
.card{
  margin-top: 2rem;
}
.address-sec{
  width: 100%;
  .top{
    display: flex;
    justify-content: space-between;
    .main-text{
      font-size: 1.4rem;
      font-weight: 600;
    }
    .link-text{
      color: #4c8cf3;
      font-size: 1.2rem;
      font-weight: 600;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

.sub-text{
  font-size: 1.2rem;
  font-weight: 600;
}
.text{
  font-size: 1.2rem;
  font-weight: 500;
}
.mini-text{
  font-size: 1rem;
  opacity: .7;
}
.left-sec{
  width: 100%;
  margin: 0%;
  padding: 0%;
  display: flex;
  .image{
    width: 82px;
    min-height: 72px;
    // margin-top: .1rem;
    // margin-left: .5rem;
    margin: auto 0 auto .5rem;
    .image-size{
      height: 70px;
    }
  }
  .product-sec{
    line-height: .7rem;
    margin-left: 1.2rem;
  }
}

.link-style{
  list-style: none;
  float: right;
  color: #4c8cf3;
  cursor: pointer;
}
.head-text{
  font-weight: 400;
  font-size: 15px;
  padding-bottom: .7rem;
}
