/* You can add global styles to this file, and also import other style files */
$primary-color : rgb(20, 111, 248);


*{
  //margin:0;
  //padding: 0;
  box-sizing: border-box;
  outline: none;

}

html, body { height: calc(100% - 2em); }
body {

   font-family: 'Open Sans','Helvetica Neue', sans-serif !important;
   background:
   linear-gradient(
     to right,
     rgba(rgb(20, 111, 248), 0.6),
     rgba(black,0.3)
   );
   background-repeat: no-repeat;
   background-attachment: fixed;




  }
