<mat-horizontal-stepper linear #stepper>
  <mat-step  [completed]="isCompletedStep1" [editable]="editStep1">
    <form >
      <ng-template matStepLabel>Fill out your address</ng-template>
      <app-show-delivery-address (callParent)="isAddressSelected($event)" ></app-show-delivery-address>
      <div>
        <button mat-raised-button class="primary-button next-btn" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step  [completed]="isCompletedStep1" editable=false>
    <form >
      <ng-template matStepLabel>Select the Payment</ng-template>
      <div class=""*ngIf="selectedAddress && data">
        <app-payment [paymentDetails]="data" [selectedAddress]="selectedAddress" (completeStep2)="completeStep2($event)"></app-payment>
      </div>

      <div>
        <!-- <button class="primary-button next-btn" mat-raised-button matStepperNext>Next</button> -->
        <button class=" next-btn" mat-raised-button matStepperPrevious *ngIf="!isCompletedStep2">Back</button>
      </div>
    </form>
  </mat-step>

  <mat-step [completed]="isCompletedStep2" editable=false>
    <ng-template matStepLabel>Done</ng-template>
    <app-payment-success></app-payment-success>
    <!-- <div>
      <button class mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button (click)="stepper.reset()">Reset</button>
    </div> -->
  </mat-step>
  <ng-template matStepperIcon="phone">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="chat">
    <mat-icon>forum</mat-icon>
  </ng-template>
</mat-horizontal-stepper>
