@import '../../../../styles.scss';

.form-style
 {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width
 {
  width: 100%;
}

.half-width
 {
  width: 50%;
}

.errormessage
{
  color : red;
  font-size: 12px;
}

// .button-effect
// {
//   background-color: $primary-color;
//   margin-top: 1rem;
//   outline: none;
//   box-shadow: 1px 1px 5px 0px $secondary-color;
// }


