.row{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  .top-box{
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .link{
      list-style: none;
      display: flex;

      .text{
        font-size: 14px;
        color: #2874f0;
        font-weight: 500;
        padding: 16px 0;
        cursor: pointer;
        margin-left: 1rem;
      }
      .icon{
        font-size: 24px;
        color: #2874f0;
        font-weight: 500;
        padding: 16px 0;
        cursor: pointer;
        margin-left: 2rem;
      }
    }
  }
}

.bottom-box{
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  padding: 1rem;
  .vertical{
    display: flex;
    justify-content: space-between;
  }
  .select-box{
    width: 5rem;
  }
  .text-head{
    font-size: 1.3rem;
    font-weight: 500;
  }
  .text{
    font-size: 1.2rem;
  }
}


