<div class="row">
  <div class="col-10">
    <div class="top-card">
    <p class="head">My Wishlist ({{totItems}})</p>
    </div>
    <div class="bottom-card" *ngFor="let product of products; let i = index">
        <div class="img-block">
          <img class="image" src="https://source.unsplash.com/1600x900/?product" alt="Photo">
        </div>
        <div class="content-block">
          <div class="top-sec">
            <p class="title-text" (click)="showProduct(product, productID[i])">{{product.name |titlecase}}</p>
            <mat-icon class="delete-icon"(click)="removeFromFavourite(productID[i])">delete</mat-icon>
          </div>
          <app-rating-tile [productId]="productID[i]"></app-rating-tile>
          <p class="amount-text">{{product.price | currency :'USD'}}</p>
        </div>
    </div>
  </div>
</div>




<!-- <div class="container">
  <div class="row content" >
      <div class="col-md-3" class="card-block" *ngFor="let product of products; let i = index">
        <mat-card class="card"  >
          <img mat-card-image src="https://source.unsplash.com/1600x900/?product" alt="Photo" (click)="showProduct(product, productID[i])">
          <ion-icon name="heart" class="heart-icon" (click)="removeFromFavourite(productID[i])"></ion-icon>
            <mat-card-content>
                <p class="card__title">{{product.name |titlecase}}</p>
            </mat-card-content>
            <mat-card-content >
              <mat-chip-list class="chips"  aria-label="category list">
                <mat-chip class="chips__content" [ngStyle]="{ 'background-color': product.categoryColor }" >{{ product.categoryName }}</mat-chip>
              </mat-chip-list>
            </mat-card-content>
            <mat-card-content class="grid-view">
              <h6 class="grid-view__text"> {{product.price | currency :'USD'}} </h6>
              <h6 *ngIf="product.stock < 1" class="out-of-stock grid-view__text">OUT OF STOCK</h6>
            </mat-card-content>
            <div class="add-button-bg" *ngIf="product.stock > 0">
              <a  [routerLink]="['/products/list/']" > <ion-icon name="add-circle" class="add-button"></ion-icon> </a>
            </div>
        </mat-card>
    </div>
  </div>
</div> -->
