@import '../../../../styles.scss';

.main-container{
  margin-top: 5rem;

  .heading{
    text-align: center;
    margin-top: 1rem;

    .head-text{
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .text{
    font-size: 1.3rem;
  }
  .text-sec{
    font-size: 1.1rem;
  }
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.new-section{
  margin-bottom: 1rem;
}
.card-address{
  padding: 16px;
  width: 100%;
  font-size: 14px;
  overflow: hidden;
  transition: box-shadow .1s linear;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(0,0,0,.15);
  margin-bottom: 8px;
  border-radius: 4px;
}

