<div class="row main-row" *ngIf="!showRatingDetailPage">
  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
    <mat-card class="card">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="image-sec">
            <carousel>
              <slide>
                <img [src]="image" alt="first slide" style="display: block; height: 200px; width: 320px;">
              </slide>
              <!-- <slide>
                <img src="https://source.unsplash.com/1610x910/?product" alt="second slide" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img src="https://source.unsplash.com/1620x910/?product" alt="third slide" style="display: block; width: 100%;">
              </slide> -->
            </carousel>
          </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-lg-6 col-lg-6 col-lg-6 col-xs-12">
              <p class="title">{{product |titlecase}}</p>
              <span class="text">{{price |currency}}</span>
              <p class="text">Stock left: {{stock}}</p>
              <span class="green">Hurry!</span>
              <p class="green"> Free Shipping</p>
              <div class="vertical">
                <p class="text">Quantity</p>
                <div class="counter">
                  <mat-icon class="minus" (click)="minus()">remove</mat-icon>
                  <input type="text" [(ngModel)]="quantity" class="content">
                  <mat-icon class="plus" (click)="plus()">add</mat-icon>
                </div>
              </div>
              <button class="primary-button btn-md" mat-raised-button (click)="addToCart(productID)">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row product-detail">
        <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12">
          <div class="text-detail">
              <h1 class="text-detail_heading"> Product Details </h1>
              <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo placeat sed totam ad porro dolorem soluta quibusdam! Quibusdam alias optio!Quo placeat sed totam ad porro dolorem soluta quibusdam! Quibusdam alias optio!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo placeat sed totam ad porro dolorem soluta quibusdam! Quibusdam alias optio!Quo placeat sed totam ad porro dolorem soluta quibusdam! Quibusdam alias optio!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo placeat sed totam ad porro dolorem soluta quibusdam! Quibusdam alias optio!Quo placeat sed totam ad porro dolorem soluta quibusdam! Quibusdam alias optio!
              </p>
          </div>
        </div>
        <div class="row rating-sec">
          <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12">
            <app-rating (showRatingDetail)="showRatingDetail($event)" [productID]="productID"></app-rating>
          </div>
        </div>
    </div>
    <div class="row similer-sec">
      <p class="header">Similer Products</p>
      <div class="main">
        <div class="box" *ngFor="let similer of similerProducts | async; let i = index">
          <div class="similer"  (click)=" showProduct(similer, similer.productId)" *ngIf="similer.productId != productID && i<8">
            <div class="left">
                <img class="image" [src]="similer.image" alt="similer products">
            </div>
            <div class="right">
              <p>{{similer.name | titlecase}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </mat-card>
  </div>
</div>


<app-rating-detail *ngIf="showRatingDetailPage" (OnBackToDetailPage)="OnBackToDetailPage($event)" [ratingList]="ratingList"></app-rating-detail>
