@import '../../../../styles.scss';

.vertical{
  display: flex;
  align-items: center;
  padding-bottom: 1px;
  cursor: pointer;
  .material-icons{
    font-size: 1.2rem;
    margin-right: 1rem;
    float: left;
  }
  .text{
    font-size: 1.2rem;
    color: black;
  }
}

.my-btn{
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
  color: $nav-text-color;
}

