<div class="row" *ngIf="!showOrderDetailPage && !isRatingPage" >
  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main-content">
    <p class="heading">My-orders</p>
    <hr>
    <mat-card class="card-section" *ngFor="let product of products; let i = index" (click)="trackOrderDetail(product)">
      <div class="row inner-row">
        <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12 LHS">
          <div class="row sub-inner-row">
            <div class="col-10">
              <div class="main-content">
                <img class="image" [src]="product.image" alt="image">
                <div class="content">
                  <p class="head" >{{ product.product |titlecase }}</p>
                  <p class="text">Category: {{ product.category }} </p>
                  <p class="text">Quantity: {{ product.quantity }}</p>
                </div>
              </div>
            </div>
            <div class="col-2 payment-area">
              <p class="text">Pay : {{product.quantity * product.price}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12 RHS">
          <app-track-order [orderId]="product.orderId" [user]="user" [myproductId]="product.myproductId" [productId]="product.productID" (callParentFunction)="parentFunction($event)"></app-track-order>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<app-track-order-detail *ngIf="showOrderDetailPage" [productDetails]="productDetails"></app-track-order-detail>
<app-rating-review (callParentFunToMyorderPage)="callParentFunToMyorderPage($event)" *ngIf="isRatingPage" [productId]="productIdForRating" [user]="userForRating" [orderId]="orderIdForRating" [myproductId]="myproductIdForRating"></app-rating-review>
