@import '../../../../styles.scss';

.row{
  display: flex;
  justify-content: center;
}

.main-content{
  margin: 1rem;

  .heading{
    font-size: 1.8rem;
  }
  .card-section{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    padding: 0%;
    max-height: 15rem;
    .left{
        max-height: 10rem;
      .image{
        height: 75px;
        width: 75px;
        margin-left: 4rem;
        margin-top: 1rem;
      }
    }
    .right{
      background-color: white;
      width: 100%;
      padding-top: 1rem;
      padding-left: 2rem;
      line-height: 1.4;
      margin-left: 1rem;

      .head{
        font-size: 1.4rem;
        font-weight: 400;

      }
      .text{
        font-size: 1.1rem;
        opacity: .8;
      }
      .input{
        width: 4rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }
  }
  .close-icon{
    font-size: 2.5rem;
    border-radius: 50%;
  }
}
.orderId{
  margin-right: 2rem;
}
